<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>getInTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>getInTouchWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>getInTouchWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18C7A4AB1F6D32DA00C9A5CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C7A4BF1F6D32DA00C9A5CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C7A4CA1F6D32DA00C9A5CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18C7A4DE1F6D336200C9A5CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
